.projects {
  display: flex;
  height: 400px;
  background: #47ADF2;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.projects-items {
  text-align: center;
}

.projects-title {
  font-weight: bold;
  font-size: x-large;
}

.projects-subtitle {
  margin-top: 3px;
}
