.projects {
  display: flex;
  height: auto;
  background: #30e3ca;
  width: 100%;
  justify-content: center;
}

.projects-items {
  text-align: center;
  width: 70%;
  height: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.projects-title {
  color: black;
  margin: 20px 0px 0px 50px;
  display: flex;
  font-size: xx-large;
  justify-self: flex-start;

}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 1000px;

}

.projects-card {
  height: 30vh;
  margin-top: 20px;
  min-width: 300px;
  max-width: 300px;

  background: white;
  align-self: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .projects-card {
    height: 50vh;
    width: 100%;
    min-width: 0px;
  }

  .projects-cards {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projects-items {
    max-width: 100%;
    width: 100%;
  }
}
