.introduction {
  display: flex;
  height: 400px;
  background: rgb(54, 86, 183);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.introduction-items {
  text-align: center;
}

.introduction-title {
  font-weight: bold;
  font-size: x-large;
}

.introduction-subtitle {
  margin-top: 3px;
}
