.skill {
  width: 32em;
  position: relative;
}

.skill_type {
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: .145em;
  width: 10rem;
}

.skill_outer-bar, .skill_inner-bar {
  border-radius: 15px;
  height: 1.3rem;
}

.skill_outer-bar {
  
  width: 100%;
  background: #333;
}

.skill_inner-bar-val {
  background:  rgb(48, 227, 202);
  transform: scaleX(0);
  box-shadow: 0 0 10px 2px rgb(48, 227, 202);
  transform-origin: 0%;
  animation: fillBar 2s forwards;
  animation-delay: 300ms
}

@media (max-width: 768px) {
  .skill {
    width: 100%;
  }
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}
