.about {
  display: flex;
  height: 400px;
  background: #1b2a2f;
  width: 100%;
  align-items: space-around;
  justify-content: center;
}

.about-items {
  color: white;
  max-width: 100%;
  text-align: center;
  margin: 30px;
}

.about-title {
  font-size: x-large
}

.about-text {

  word-wrap: break-word;
  margin: 10px 50px 0px 50px;
}
