.about {
  display: flex;
  height: 400px;
  background: #1b2a2f;
  width: 100%;
  align-items: space-around;
  justify-content: center;
}

.about-items {
  color: white;
  max-width: 100%;
  text-align: center;
  margin: 30px;
}

.about-title {
  display: flex;
  font-size: xx-large;
  justify-self: flex-start;
  margin: 10px 50px 20px 50px;
}

.about-text {

  word-wrap: break-word;
  margin: 10px 50px 10px 50px;
}

@media (min-width: 769px) {
  .about-text {

    margin: 10px 10rem 0px 10rem;
  }

  .about-title {
    margin: 10px 0px 0px 10rem;
  }
}
