.blog {
  display: flex;
  align-items: space-around;
  justify-content: center;
  width: 60%;
  max-width: 900px;
}

.blog-items {
  
}

.blog-title {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  justify-self: flex-start;
  margin: 100px 50px 20px 50px;
}

.blog-text {
  word-wrap: break-word;
  margin: 10px 50px 10px 50px;
}

@media (max-width: 768px) {

  .blog {
    width: 100%;
    justify-content: flex-start;
  }

  .blog-items {
    
  }
}
