.projects {
  display: flex;
  height: auto;
  background: #30e3ca;
  width: 100%;
  justify-content: center;
}

.projects-items {
  text-align: center;
  width: 60%;
  height: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.projects-title {
  color: black;
  margin: 20px 0px 0px 50px;
  display: flex;
  font-size: xx-large;
  align-self: flex-start;
  justify-self: flex-start;

}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 3vh 3vw;
  max-width: 70vw;

}

.projects-card {
  height: 20vh;
  width: 15vw;
  margin-top: 20px;
  background: white;
  align-self: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .projects-card {
    min-height: 40vh;
    width: 100%;
    
  }

  .projects-cards {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projects-items {
    max-width: 100%;
    width: 100%;
  }
}
