.workshops {
  display: flex;
  width: 100%;
  align-items: space-around;
  justify-content: center;

}

.workshops-items {
  margin: 30px;
  width: 60%;
  max-width: 900px;
}

.workshops-title {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  justify-self: flex-start;
  margin: 70px 50px 20px 50px;
}

.workshops-text {
  word-wrap: break-word;
  margin: 10px 50px 10px 50px;
}

.workshops-images {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 4vw ;
  margin: 70px 50px 20px 50px;
}

.workshops-image {
  max-width: 11rem;
  max-height: 11rem;
}

@media (max-width: 768px) {

  .workshops-items {
    width: 100%;

  }

  .workshops-images {
    grid-template-columns: 100%;
    gap: 4vh ;
    justify-content: center;
    justify-items: center;
  }
}
