.skill {
  
  width: 22em;
  position: relative;
}

.skill_type {
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: .145em;
  width: 10rem;
}

.skill_outer-bar, .skill_inner-bar {
  height: 1rem;
}

.skill_outer-bar {
  width: 100%;
  background: #333;
}

.skill_inner-bar-val {
  background: red;
  transform: scaleX(0);
  transform-origin: 0%;
  animation: fillBar 2s forwards;
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}
