.contact {
  display: flex;
  min-height: 400px;
  background: #f4933b;
  width: 100%;
  justify-content: center;

}

.contact-items {
  text-align: center;
  width: 40%;
  height: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.contact-title {
  margin: 20px 0px 0px 50px;
  display: flex;
  font-size: xx-large;
  justify-self: flex-start;

}


.contact-subtitle {
  margin-top: 3px;
}
