.contact {
  display: flex;
  height: 400px;
  background: rgb(141, 31, 31);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-items {
  text-align: center;
}

.contact-title {
  font-weight: bold;
  font-size: x-large;
}

.contact-subtitle {
  margin-top: 3px;
}
