.contacts {
  display: flex;
  width: 100%;
  align-items: space-around;
  justify-content: center;

}

.contacts-items {
  margin: 30px;
}

.contacts-title {
  display: flex;
  font-size: x-large;
  justify-self: flex-start;
  margin: 10px 50px 20px 50px;
}

.contacts-text {

  word-wrap: break-word;
  margin: 10px 50px 10px 50px;


}

@media (min-width: 769px) {

  .contacts-items {
    width: 60%;
    max-width: 900px;
  }

  .contacts-text {

    /* margin: 10px 10rem 0px 25rem; */

  }

  .contact-title {
    /* margin: 10px 0px 0px 25rem; */
  }
}
