.footer {
  display: flex;
  
  background: #40514E;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer-items {
  margin: 1rem
}

.footer-image {
  max-width: 30px;
  max-height: 30px;

  margin-left: 1rem;
  margin-right: 1rem;

}
