.footer {
  display: flex;
  height: 56px;
  background: black;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer-items {
  text-align: center;
}

.footer-title {
  font-weight: bold;
  font-size: x-large;
}

.footer-subtitle {
  margin-top: 3px;
}
