.footer {
  display: flex;
  height: 65px;
  background: #24130D;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer-items {

}

.footer-image {
  width: 30px;
  height: 30px;
  margin-left: 36px;
  margin-right: 36px;

}
