nav {
  height: 8vh;
  background: black;
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  position: fixed;
  background: transparent;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 4;
}

.nav-links.open {
  height: 100%;
  width: 100%;
  pointer-events: all;
  background: black;
  z-index: 4;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li {
  opacity: 0;
}
.nav-links li a {
  font-size: 25px;
}
.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
li.fade {
  opacity: 1;
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
  flex-direction: column;
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 5;
}
