nav {
  height: 60px;
  background: black;
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  position: fixed;
  background: transparent;
  height: 100%;
  width: 100%;
  top: 0%;
  flex-direction: column;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 4;
  align-items: flex-end;
}

.nav-links.open {
  pointer-events: all;
  background: black;
  z-index: 4;
  
}


.nav-links ul {
  margin-right: 15rem;
}

.nav-links li {
  margin: 2rem;
}

.nav-links li a:hover {
  color: red;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li {
  opacity: 0;
}
.nav-links li a {
  font-size: 25px;
}
.nav-links.open li:nth-child(1) {
  transition: all 0.5s ease-in 0.1s;
}
.nav-links.open li:nth-child(2) {
  transition: all 0.5s ease-in 0.15s;
}
.nav-links.open li:nth-child(3) {
  transition: all 0.5s ease-in 0.2s;
}
.nav-links.open li:nth-child(4) {
  transition: all 0.5s ease-in 0.25s;
}
.nav-links.open li:nth-child(5) {
  transition: all 0.5s ease-in 0.3s;
}

li.fade {
  opacity: 1;
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
  flex-direction: column;
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  
  transition: all 0.3s ease-in;
}

.line.open:nth-child(1)  {
  transform: rotate(45deg) translateX(11px);

}

.line.open:nth-child(2) {
  opacity: 0;

}

.line.open:nth-child(3) {
  transform:  rotate(-45deg) translateX(11px);

}



.hamburger {
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 5;
}

.title {
  position: absolute;
  left: 10%;
  text-decoration: none;
  top: 20%;
  z-index: 5;
  font-weight: 500;
  font-size: 1.7rem;
  color: white;
}

.title:hover {
  color: red;
}
