.card-content {
  margin: 1.5rem;
  text-align: left;
}

.card-text {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;

}

.card-image {
  max-width: 100px;
  max-height: 50px;
}

.card-header-title {
  font-weight: bold;
}

.card-header-main {
  margin-left: 1rem;
  
}

.card-header-company {
  margin-top: 2px;
  font-size: 14px;
}

.card-header-place {
  margin-top: 0px;

  color: gray;
  font-size: 14px;
}

.card-header-date {
  margin-left: auto;
  color: gray;
  font-size: 14px;
align-self: flex-start;
}

.card-line {
  border: 0.05rem solid rgba(0, 0, 0, 0.1);
}
