.work {
  display: flex;
  height: auto;
  background: #AB4F3D;
  width: 100%;
  justify-content: center;
}

.work-items {
  text-align: center;
  width: 60%;
  height: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}


.work-title {
  margin: 20px 0px 0px 50px;
  display: flex;
  font-size: xx-large;
  justify-self: flex-start;

}

.work-cards {
  display: flex;
  flex-direction: column;
  justify-items: center;


}

.work-card {
  height: 30vh;
  width: 50%;
  min-width: 400px;
  align-self: center;
  margin-top: 20px;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .work-card {
    height: 50vh;
    width: 100%;
    min-width: 0px;
  }

  .work-items {
    max-width: 100%;
    width: 100%;
  }
}
