.work {
  display: flex;
  height: 400px;
  background: yellow;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.work-items {
  text-align: center;
}

.work-title {
  font-weight: bold;
  font-size: x-large;
}

.work-subtitle {
  margin-top: 3px;
}
